.clipboard-button {
    position: absolute;
    right: 0;
    padding: 5px 7px 3px 7px;
    margin: 5px;
    color: #bb8af7;
    background-color: #000000;
    border: 0px solid #000000;
    border-radius: 4px;
    font-size: 0.8em;
    z-index: 0;
    opacity: 1;
    transition: 0.1s;
  }
  .clipboard-button > svg {
    fill: #dddddd;
  }
  .clipboard-button:hover {
    cursor: pointer;
    border-color: #000000;
    background-color: #000000;
    border: 0px solid;
  }
  .clipboard-button:hover > svg {
    fill: #bb8af7;
  }
  .clipboard-button:focus {
    outline: 0;
  }
  .highlight {
    position: relative;
  }
  .highlight:hover > .clipboard-button {
    opacity: 1;
    transition: 0.2s;
  }
  